.main-container{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-cart{
    display: flex;
    flex-direction: column; 
    text-align: start;
    padding: 50px;
    margin: 50px;
    border: 2px solid #000;
}

.container-res{
    display: flex;
    justify-content: start;
    align-items: center;

}