.card-id{
    text-align: center;
    align-items: center;
    border: 2px lightslategray solid !important;
    margin-bottom: 10px;
    height: 450px;
    width: 100%;
    background-color: white !important;
    color: black;

}

.img-url{
    height: 65%;
    width: auto;
}

#ver-mas{
    margin: 0.5px 0.5px 0.5px 0.5px;
}

.card-title{
    font-size: 10px;
}