.card{
    text-align: center;
    align-items: center;
    border: 2px lightslategray solid !important;
    height: 36%;
    width: auto;
    background-color: white !important;
    color: black;
}

#img{
    height: 60%;
    width: auto;
}

#ver-mas{
    margin: 0.5px 0.5px 0.5px 0.5px;
}

.card-title{
    font-size: 10px;
}