
.container{
    margin-left: 60px;
    margin-top: 20px;
}
.card{
    text-align: center;
    align-items: center;
    height: 300px;
    width: 250px;
    background-color: gray !important;
    color: white;
}